::deep .nav-link.active {
    background-color: whitesmoke;
    color: black;
    border-left: 3px solid #2f4f4f;
}

::deep .nav-link {
    color: black;
}

.card {
    background-color: white;
    border: none;
}

.card-body {
    background-color: white;
    border: none;
}

.card-header {
    border: none;
    background-color: white;
}

.card-footer {
    border: none;
    background-color: white;
}




